// @require 'reset.css'
@require 'prism/themes/prism-okaidia.css'
@require 'bootstrap/dist/css/bootstrap.min.css'
@require 'fontello.css'

// CS04 
swatch-a = #F6F792
swatch-b = #333745
swatch-c = #77C4D3
swatch-d = #DAEDE2
swatch-e = #EA2E49

margin_axis = 34%

html,
body
  height 100%
  width 100%
  font-size 14px
  line-height 17px
  font-family 'Martel Sans', sans-serif

a
  color: swatch-c

// override prism theme
pre,
:not(pre) > code[class*="language-"],
pre[class*="language-"]
  background transparent

pre,
pre[class*="language-"]
  padding 20px
  margin 0
  border-radius 0

// viewsource styles
.table
  & > tbody
    & > tr
      border-top 1px solid rgba(0, 0, 0, 0.25)
      box-shadow 0px 2px rgba(255, 255, 255, 0.1)
      & > td
        border none
  
.viewsource
  height 0.5em
  overflow hidden
  min-height 0.5em
  background-color swatch-b
  padding-top 0.5em
  box-shadow inset 0px -10px 20px rgba(0, 0, 0, 0.6)
  transition height .5s cubic-bezier(0.65, 0.05, 0.36, 1)

  table
    color swatch-c
  p
    opacity 0.5
  p,
  i
    display inline-block
    padding 6px 12px
    margin-bottom 0
  a
    opacity 1

pre
  border none
  
// homepage logo and text
header
  display inline-block
  vertical-align top
  padding 70px 0
  width margin_axis
  text-align right
  img
    margin-bottom 20px
    height 40px
  h1, h2
    font-weight 800
    font-size 14px
    padding 0
    margin 0

// homepage menu
nav
  margin-left margin_axis
  ul
    list-style none
  li
    overflow hidden
  a:hover
    text-decoration none
  a:before
    content '—'
    position relative
    font-size 32px
    margin-right 10px
  a
    margin-left -40px
    line-height 40px
    font-size 32px
    text-decoration none
    -webkit-transition all 150ms ease-in-out
    -moz-transition all 150ms ease-in-out
    -o-transition all 150ms ease-in-out
    transition all 150ms ease-in-out

// hide list dash
nav li a:hover,
nav li a:focus
  margin-left -5px

// color scheme
body
  background-color swatch-d
  header
    color swatch-b
  a
    color swatch-c

.btn:hover,
.btn:focus,
nav li a:hover,
nav li a:focus
  color swatch-e

// 404
.error404
  margin-left 120px

  h1
    font-size 50px
    line-height 60px
    padding 20px 0

// TODO use bootstrap instead
// responsive using https://github.com/jenius/rupture
+mobile()
  header
    text-align left
    margin-left 5em
  nav
    margin-left 5em

+tablet()
  header
    width 300px
  nav
    margin-left 300px

+desktop()
  header
    width 400px
  nav
    margin-left 400px

+hd()
  header
    width 30%
  nav
    margin-left 30%
    
