{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "semi": false,
        "printWidth": 100
      }
    }
  ]
}
