%header
  .headerContents
    %h1.shadowText antonio miranda
    %ul
      %li
        %h2.shadowText interactive designer | developer
        %h2.shadowText barcelona
      %li
        %h2
          %a.shadowText{:href => 'http://am.github.com/cv'} resume
        %h2
          %a.shadowText{:href => 'https://github.com/am'} github
      %li
        %h2
          %a.shadowText{:href => 'mailto:antsmiranda@gmail.com'} @ email

.border
.slider
  .container
    .pane
      .inner.solid
        %img{:src => '/img/am.png'}
