%header
  .headerContents
    %h1.shadowText antonio miranda
    .row.grid3
      %ul.col
        %li
          %h2.shadowText interactive designer | developer
        %li
          %h2.shadowText.col barcelona
      %ul.col
        %li
          %h2
            %a.shadowText{:href => 'http://am.github.com/cv'} resume
        %li
          %h2
            %a.shadowText{:href => 'https://github.com/am'} github
      %ul.col
        %li
          %a.shadowText{:href => 'mailto:antsmiranda@gmail.com'} @ email
        

.border
.slider
  .container
    .pane
      .inner.solid
        .amlogo
