!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %title Tells
    %meta{:content => '', :name => 'description'}
    %meta{:content => 'yes', :name => 'apple-mobile-web-app-capable'}
    %meta{:content => 'width=device-width, initial-scale=1, maximum-scale=1.0', :name => 'viewport'}

    %link{:rel => "stylesheet", :href  => "css/normalize.css"}
    %link{:rel => "stylesheet", :href  => "css/about.css"}


%body= yield

-# jQuery
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
:javascript
    window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')

-# libs
%script{:type => "text/javascript", :src  => "js/vendor/jquery.touchSwipe.min.js"}
%script{:type => "text/javascript", :src  => "js/vendor/jquery.transit.min.js"}

-# app
%script{:type => "text/javascript", :src  => "js/about.js"}

:javascript
    $(function(){
      window.About.init();
    });