extends layout

block content
  header
    img(src='/img/am-icon-darkblue.png', alt='am')
    h1 antonio miranda
    br
    h2 front end developer
    p(style='font-thin') barcelona
  nav
    ul
      li
        a(href='http://am.github.io/cv/') cv
      li
        a(href='/tech-cv.html') tech cv
      li
        a(href='https://github.com/am') github
      li
        a(href='https://www.twitter.com/ammutable') twitter
      li
        a(href='https://www.flickr.com/photos/95126201@N06/') flickr
      li
        a(href='mailto:antsmiranda@gmail.com') contact
