extends layout

block content
  header
    .headerContents
      h1.shadowText antonio miranda
      .row.grid3
        ul.col
          li
            h2.shadowText interactive designer | developer
          li
            h2.shadowText.col barcelona
        ul.col
          li
            h2
              a.shadowText(href='http://am.github.com/cv') resume
          li
            h2
              a.shadowText(href='https://github.com/am') github
        ul.col
          li
            h2
              a.shadowText(href='http://www.flickr.com/photos/95126201@N06') flickr
          li
            h2
              a.shadowText(href='mailto:antsmiranda@gmail.com') email

    .border
    .slider
      .container
        .pane
          .inner.solid
            .amlogo

