extends layout

block content
  header
    .headerContents
      h1.shadowText antonio miranda
      .row.grid3
        ul.col
          li
            h2.shadowText interactive designer | developer
          li
            h2.shadowText.col barcelona
        ul.col
          li
            h2
              a.shadowText(href='http://am.github.com/cv') resume
          li
            h2
              a.shadowText(href='https://github.com/am') github
        ul.col
          li
            h2
              a.shadowText(href='http://www.flickr.com/photos/95126201@N06') flickr
          li
            h2
              a.shadowText(href='mailto:antsmiranda@gmail.com') email
    .amlogo
      svg#Layer_1(enable-background='new 0 0 1024 768', height='768px', version='1.1', viewbox='0 0 1024 768', width='1024px', x='0px', xml:space='preserve', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', y='0px')
        defs
          pattern#img_cv1_Graphic3(height='533', patterntransform='translate(0, 0) scale(1, 1) rotate(0)', patternunits='userSpaceOnUse', width='800')
            image(height='533', opacity='1', width='800', x='0', xlink:href='http://farm9.staticflickr.com/8278/8699005334_0fc51ea24d_c.jpg', y='0')
          polygon(fill='url(#img_cv1_Graphic3)', points='626.492,260.571 511.984,445.83 511.011,441.975 398.792,260.891 247.767,505 488,505 488,504.62 488,504.637 \
          620.728,290.027 626.433,280.225 632.109,290.032 768.208,510.266 777.306,504.646 ')
    .border
    .slider
      .container
        .pane
          .inner.solid
            .amlogo

