doctype html
html
  head
    meta(charset='utf-8')   
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    title bit-ink
    meta(content='', name='description')  
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1.0', name='viewport')
    script.
      try{Typekit.load();}catch(e){}

    link(href='css/styles.css', rel='stylesheet')
    script(src='scripts/vendor/modernizr.custom.47083.js')
    script(src='//use.typekit.net/wzk2btb.js')


body
  block content
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script.
    window.jQuery || document.write('<script src="scripts/vendor/jquery-1.9.1.min.js"><\/script>')

script(src='scripts/vendor/jquery.touchSwipe.min.js')
script(src='scripts/vendor/jquery.transit.min.js')
script(src='scripts/about.js')

script.
  // Google analytics
  var _gaq = _gaq || [];
  var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-5544272-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  // init app
  $(function(){
    new BitInkApp  
  });
