/* Markdown
 * ========================================================================== */

p {
    margin: 0px 0;
}

a img {
    border:none;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

.left-justify {
    float: left;
}

.right-justify {
    float:right;
}

pre, code {
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #f7f7f7;
}

code {
    font-size: 12px;
    padding: 4px;
}

pre {
    margin-top: 0;
    margin-bottom: 16px;
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
}

pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

pre code::before,
pre code::after {
    content: normal;
}

em,q,em,dfn {
    font-style:italic;
}
