---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); 
---

<!-- <nav class="fixed top-0 right-0 p-6 bg-white text-xl"> -->
<nav class="fixed top-0 w-full lg:w-min lg:right-0 p-6 bg-white/60 backdrop-blur text-xl">
	<ul class="flex justify-end gap-6">
		<li class="">
			<a class={currentPath === "" ? "text-gray" : "underline text-ink"} href="/">about</a>
		</li>
		<li class="">
			<a class={currentPath === "blog" ? "text-gray" : "underline text-ink"} href="/blog">blog</a>
		</li>
	</ul>
</nav>
