if collection
  a.btn(data-pjax href= dir + '..') &#8592;
  table.table
    tbody
      for file in collection
        tr
          td
            if file.type == 'dir'
              i.icon.icon-folder
            if file.type == 'file'
              i.icon.icon-doc
          td
            a.btn(data-pjax href= dir + file.name )!= file.name
          td
            p!= file.sha.slice(0, 7)

else if file
  a.btn(data-pjax href= dir + '..') &#8592;
  pre
    code(class="language-#{ fileType }")!= file
