{{ partial "header.html" . }}

<header class="header-home">
    <div class="header-home__claim">
        <h1 class="header-home__item header-home__item--h1">{{ .Site.Params.sitename }}</h1>
        <h2 class="header-home__item header-home__item--h2">{{ .Site.Params.homeName }}</h2>
        <h2 class="header-home__item header-home__item--h3">{{ .Site.Params.homeTitle }}</h2>
    </div>
</header>

<div class="grid hide"></div>

<div class="wrapper">
    <div class="content">
        {{ .Content }}
    </div>
</div>

{{ partial "footer.html" . }}
