---
import { SITE_TITLE, SITE_DESCRIPTION } from "consts";
import Navigation from "@components/Navigation.astro";
import BaseHead from "@components/BaseHead.astro";
import "@fontsource/abril-fatface";
import "@fontsource/karla";
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="pt-36 h-screen bg-cover bg-hero-background common-ligatures">
		<Navigation />
		<main>
			<slot />
		</main>
		<script
			src="https://cdn.amplitude.com/libs/analytics-browser-1.11.1-min.js.gz"
		></script>
		<script
			src="https://cdn.amplitude.com/libs/plugin-session-replay-browser0.6.22-min.js.gz"
		></script>
		<script>
			window.amplitude.add(window.sessionReplay.plugin({ sampleRate: 2 }));
			window.amplitude.init("bcdc81af61926ecf2915584d5535e94b", {
				serverZone: "EU",
				autocapture: { elementInteractions: true },
			});
		</script>
	</body>
</html>
