extends layout

block head
  link(href='http://fonts.googleapis.com/css?family=Martel+Sans:200,400,700' rel='stylesheet' type='text/css')
  link(href='/css/styles.css', rel='stylesheet')


block content
  .error404
    h1 ⊙﹏⊙
    :markdown
      **404**

      Sad, but what you are looking for isn't here.

      Here you [go](/).

