extends layout

block head
  link(href='http://fonts.googleapis.com/css?family=Martel+Sans:200,400,700' rel='stylesheet' type='text/css')
  link(href='/css/styles.css', rel='stylesheet')

block content
  header
    img(src='img/am-icon-darkblue.png', alt='am')
    h1 antonio miranda
    br
    h2 front end developer
    p(style='font-thin') barcelona
  nav
    :markdown
      - [tech cv](cv/tech)
      - [github](https://github.com/am)
      - [twitter](https://www.twitter.com/ammutable)
      - [flickr](https://www.flickr.com/photos/95126201@N06/)
      - [contact](mailto:antsmiranda@gmail.com)
