extends layout

block content
  .viewsource.container-fluid
    #viewsource.text-left
      include pjax/index

  .container-fluid.text-center
    a.btn(data-pjax href='/viewsource/') viewsource
  header
    img(src='/img/am-icon-darkblue.png', alt='am')
    h1 antonio miranda
    br
    h2 front end developer
    p(style='font-thin') barcelona
  nav
    ul
      li
        a(href='/cv/tech') tech cv
      li
        a(href='https://github.com/ammutable') github
      li
        a(href='https://www.twitter.com/ammutable') twitter
      li
        a(href='https://www.flickr.com/photos/95126201@N06/') flickr 
      li
        a(href='mailto:antsmiranda@gmail.com') contact

block scripts
  script(src='/scripts/bundle.js')
