extends layout

block head
  link(rel='stylesheet', href='/components/prism/themes/prism.css')

block content
  h1 view source
 
  ul
    li
      a(href= dir + '..') ..
    if collection
      for file in collection
        li
          a(href= dir + file.name )!= file.name
    else
      pre
        code.language-javascript!= file

block scripts
  script(src='/components/prism/prism.js')
  script(src='/components/prism/components/prism-javascript.min.js')
  script(src='/scripts/viewsource.js')
