extends layout

block head
  link(rel='stylesheet', href='/css/vendor/prismjs/prism.css')

block content
  h1 view source
 
  ul
    li
      a(href= dir + '..') ..
    if collection
      for file in collection
        li
          a(href= dir + file.name )!= file.name
    else
      pre!= file
