extends layout

block head
  link(rel='stylesheet', href='/components/prism/themes/prism.css')

block content
  include pjax/viewsource

block scripts
  script(src='/components/prism/prism.js')
  script(src='/components/prism/components/prism-javascript.min.js')
  script(src='/components/prism/components/prism-coffeescript.min.js')
  script(src='/components/prism/components/prism-jade.min.js')
  script(src='/scripts/viewsource.js')
