extends layout

block head
  link(rel='stylesheet', href='/components/prism/themes/prism.css')

block content
  h1 view source
 
  
  if collection
    ul
      li
        a(href= dir + '..') ..
      for file in collection
        li
          a(href= dir + file.name )!= file.name
  else
    pre
      code(class="language-#{ fileType }")!= file

block scripts
  script(src='/components/prism/prism.js')
  script(src='/components/prism/components/prism-javascript.min.js')
  script(src='/components/prism/components/prism-coffeescript.min.js')
  script(src='/components/prism/components/prism-jade.min.js')
  script(src='/scripts/viewsource.js')
