extends layout

block head
  link(rel='stylesheet', href='/css/vendor/prismjs/prism.css')

block content
  h1 view source
  h2= modulePath
 
  ul
    li
      a(href=root + '..') ..
    if collection
      for file in collection
        li
          a(href= root + file.name )!= file.name
    else
      pre!= file
